/* Studio - Main content */
.section-main-studio {
  color: var(--primary-background-color);
  background: var(--background-footer);
}
.main-studio-title {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  color: var(--primary-background-color);
}
/* Portfolio */
:root {
  --primary-text-color: #2e2f42;
  --primary-background-color: #ffffff;
  --hover: #404bbf;
  --focus: #404bbf;
  --logo-web: #4d5ae5;
  --heder-list-contacts: #434455;
  --background-footer: #2e2f42;
  --footer-color: #e7e9fc;
  --footer-studio: #f4f4fd;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--primary-text-color);
  background: var(--primary-background-color);
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Header */
.page-header {
  text-decoration: none;
  display: flex;
}
.header-nav {
  font-size: 16px;
  line-height: calc(24 / 16);
}
.header-list :hover {
  color: var(--hover);
}
.header-list :focus {
  color: var(--focus);
}
.header-logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: var(--logo-web);
}
.header-logo-web:hover {
  color: var(--hover);
}
.header-logo-web:focus {
  color: var(--focus);
}
.header-logo-studio {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: var(--primary-text-color);
  text-decoration: none;
}
.header-logo-studio:hover {
  color: var(--hover);
}
.header-logo-studio:focus {
  color: var(--focus);
}
.header-list {
  font-weight: 500;
  color: var(--primary-text-color);
  display: flex;
  text-decoration: none;
}
.header-address {
  font-style: normal;
  font-size: 16px;
}
.header-address :hover {
  color: var(--hover);
}
.header-address :focus {
  color: var(--focus);
}
.list-address {
  display: flex;
}
.list-contacts {
  color: var(--heder-list-contacts);
  text-decoration: none;
}
/* Main Content */
.content-main {
  font-size: 20px;
  line-height: calc(24 / 20);
}
.section-main {
  color: var(--logo-web);
}
.main-list {
  font-weight: 500;
  display: flex;
}
.botton:hover {
  color: var(--primary-background-color);
  background: var(--hover);
}
.botton:focus {
  color: var(--primary-background-color);
  background: var(--focus);
}
.botton {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  text-align: center;
  background: var(--footer-studio);
  cursor: pointer;
  border-radius: 4px;
  color: var(--logo-web);
  background: var(--footer-studio);
}

.image-list {
}
.image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
}
.image-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--heder-list-contacts);
}
/* Footer */
.page-footer {
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--footer-color);
  background: var(--background-footer);
}
.footer-web {
  font-family: "Raleway";
  font-weight: 800;
  color: var(--logo-web);
}
.footer-web:hover {
  color: var(--hover);
}
.footer-web:focus {
  color: var(--focus);
}
.footer-studio {
  font-family: "Raleway";
  font-weight: 800;
  color: var(--footer-studio);
}
.footer-studio:hover {
  color: var(--hover);
}
.footer-studio:focus {
  color: var(--focus);
}
.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  color: var(--footer-color);
}
